/* CSS declarations go here */
.lists{
	margin-top: 2vh;
	/*border: 1px solid black;*/
	height:90vh;
}

.single-list{
	height:auto;
	border: 1px solid black;
	position:absolute;
	width: 50vw;
	min-width:300px;
	
}

.checked {
  color: #888;
	text-decoration: line-through;
}
.taskName{
	width:90%;
}

input {
 height: 30px;
 }

.glyphicon-move {
	font-size: 2em;
}

.list-title{
	position: relative;
	bottom: 5px;
	font-size: 1.5em;
}

.task-check{
	position: relative;
	top: 10px;
}

.new-task, .new-member{
	margin-left:40px;
}

.task {
	font-size: 1.25em;
}

.editButtons{
	margin-top: 10px;
}

.task-text{
	height: 50px;
}

input[type="radio"]
{
	position: relative;
	top: 10px;
}

.notesDiv{
  width:90%;
  min-height:50px;
  border:.1px solid #A9A9A9;
	margin-bottom: -20px;
}