/* CSS declarations go here */
.lists{
	margin-top: 2vh;
	/*border: 1px solid black;*/
	height:90vh;
}

.single-list{
	height:auto;
	border: 1px solid black;
	position:absolute;
	width: 50vw;
	min-width:300px;
	line-height: 320%;
}

.checked {
  color: #888;
	text-decoration: line-through;
}

input {
 height: 30px;
 }

.glyphicon-move {
	font-size: 2em;
}

.list-title{
	position: relative;
	bottom: 5px;
	font-size: 1.5em;
}

.task-check{
	position: relative;
	top: 10px;
}

.new-task{
	margin-left:40px;
}

.task {
	font-size: 1.25em;
}